/* Teg styles */

body
{
    font-family:"Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

h1,h2,h3,p 
{
    margin-top: 0;
    margin-bottom: 0;
}

ul,ol
{
    list-style-type: none;
    padding-left: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

a {text-decoration: none;}

address {font-style: normal;}

button {cursor: pointer;}

img {display: block;}

/* Class styles */


.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;   
}

.section{
    padding-top: 120px;
    padding-bottom: 120px;
}

.header {border-bottom: 1px solid #e7e9fc;}

.header-container{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.logo {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 117%;
letter-spacing: 0.03em;
text-transform: uppercase;
text-decoration: none;
color: #2e2f42;
display: inline-block;
margin-right: 76px
}

.logo-web {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 117%;
letter-spacing: 0.03em;
text-transform: uppercase;
text-decoration: none;
color: #4d5ae5;
margin-right: 76px;
padding: 24px 0;
display: inline-block;
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation-list{
    display: flex;
    gap: 40px;
}

.nav-link {
display: flex;
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
text-decoration: none;
color: #2e2f42;
gap: 76px;
padding: 24px 0;
}

.nav-link:hover{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #404bbf;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.nav-link:focus {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #404bbf;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.address {
font-style: normal;
margin-right: 0;
margin-left: auto;
}

.address {
    font-style: normal;
    margin-left: auto;
    margin-right: 0;
}

.address-list {
    display: flex;
    gap: 40px;
}

.address-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #434455;
}

.address-link:hover{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-decoration: none;
    color:#404bbf;
}
.address-link:focus{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-decoration: none;
    color:#404bbf;
}

/* Styles hero */

.section-hero {
background-color:#2e2f42;
padding: 188px 0;
}

.section-hero-title {
font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 56px;
line-height: 107%;
letter-spacing: 0.02em;
text-align: center;
color: #ffffff;
max-width: 496px;
margin-left: auto;
margin-right: auto;
margin-bottom: 48px;
}

.section-hero-button {
    font-family: "Roboto",sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    display: block;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    text-align: center;
    margin:auto;
    
}

.section-hero-button:hover{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #ffffff;
    background:#404bbf;
    cursor: pointer;
    background-color: #404bbf;
}

.section-hero-button:focus
{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #ffffff;
    background:#404bbf;
    cursor: pointer;
    background-color: #404bbf;
}

/* Feature styles */

.section-feature {
    background-color: #fff;
    padding: 120px 0;
    display: flex; 
}

.visually-hidden .section-feature-title{
    position: fixed;
    transform: scale(0);
}

.section-feature-list {
    display: flex;
    gap: 24px;
}

.section-feature-item {
    width: calc((100%-72px)/4);
    border-radius:0px 0px 4px 4px;
}

.section-feature-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color:#2e2f42;
    margin-bottom: 8px;
}
.section-feature-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Team style */

.section-team {
    background-color: #F4F4FD;
    display: block;
}

.section-team-title {
font-weight: 700;
font-size: 36px;
line-height: 111%;
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
color: #2e2f42;
margin-bottom: 72px;

}

.section-team-list{
    display: flex;
    flex-wrap: wrap;
}

.section-team-item {
display: flex; 
gap: 24px; 
}

.section-team-img {
display: block;
max-width: 100%;
height: auto;}

.section-team-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 120%;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 8px;
}
.section-team-text {
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
}

/* Portfolio style */

.section-portfolio {
    padding-top: 120px; 
    padding-bottom: 120px;
}

.section-portfolio-title{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 72px;

}
.section-portfolio-list{
    display: flex;
    flex-wrap: wrap; 
    column-gap: 24px; 
    row-gap: 48px;
}

.section-portfolio-item{width: calc((100%-48px)/3);}

.section-portfolio-subtitle{
}

.section-portfolio-title {
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 8px;
}

.container .portfolio-list {
    padding: 32px 16px;
    border: 1px solid #e7e9fc; 
    border-top: none;
    margin-bottom: 8px;
}

.section-portfolio-text {
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #434455;
}

/* Footer styles */

.footer {
    background-color:#2e2f42;
    padding: 100px 0;
    display: flex;
    
}

.logo-footer{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    display: flex;
    margin-right: 76px;
    padding: 24px 0;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0px;
    display: inline-block;
    margin-bottom: 16px;
}

.logo-web-footer {color: #f4f4fd;}

.footer-text {
font-family: "Roboto",sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #f4f4fd;
max-width: 264px;
max-height: 74px;
}

